<header class="header">
  <a href="/">
    <img id="logo" class="header__logo" src="/images/logo.jpg" alt=""
  /></a>

  <button class="header__hamburger">
    <i class="fas fa-bars"></i>
  </button>
  <nav class="header__nav">
    <ul class="header__nav--menu">
      <li>
        <a href="/buscar">buscar</a>
      </li>
      <li>
        <a href="/courses/list">Cursos</a>
      </li>
    </ul>
    <ul class="header__nav--user">
      <li>
        <a href="/users/register">registrar</a>
      </li>
      <li>
        <a href="/users/profile">ingresar</a>
      </li>
    </ul>
  </nav>
  <div class="dropdown">
    <a
      class="btn btn-secondary dropdown-toggle"
      href="#"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
    Categories
    </a>

    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/courses/category/:id">Sushi</a></li>
      <li><a class="dropdown-item" href="/courses/category/:id">Pastas</a></li>
      <li><a class="dropdown-item" href="/courses/category/:id">Reposteria</a></li>
    </ul>
  </div>
</header>
