<header class="header">
  <a href="/">
    <img id="logo" class="header__logo" src="/images/logo.jpg" alt=""
  /></a>

  <button class="header__hamburger">
    <i class="fas fa-bars"></i>
  </button>
  <nav class="header__nav">
    <ul class="header__nav--menu">
      <li>
        <a href="/buscar">buscar</a>
      </li>
      <li>
        <a href="/courses/list">Cursos</a>
      </li>
      <% if (locals.userLogin && userLogin.role === 'admin') { %>
      <li>
        <a href="/courses/add">Agregar</a>
      </li>
      <% } %>

    </ul>
    <ul class="header__nav--user">
      <% if (locals.userLogin) { %>
        <li>
          <a href="/users/profile">Hola, <%= userLogin.name %></a>
        </li>
        <li>
          <a href="/users/logout">Cerrar sesión</a>
        </li>
      <% }else{ %>
      <li>
        <a href="/users/register">registrar</a>
      </li>
      <li>
        <a href="/users/login">ingresar</a>
      </li>
      <% } %>
    </ul>
  </nav>
  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Categorias
    </button>
    <ul class="dropdown-menu">
      <% categories.forEach(({id,name}) => { %>
      <li>
        <a href="/courses/category/<%= id %>" style="color: black"
          ><%= name %>
        </a>
      </li>
      <% }) %>
    </ul>
  </div>
</header>
